<div class="position-fixed z-2 bg-light header_container pt-3 pb-3 d-flex justify-content-around">
    <div class="searchBar">
        <div class="container">
            <form @submit.prevent="handleSearch" class="d-flex">
              <input
                v-model="searchQuery"
                type="search"
                class="form-control me-2"
                placeholder="Search"
                aria-label="Search"
              />
              <button @click="handleSearch" class="btn btn-outline-primary btn-sm" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
              <button @click="handleSearchReset" class="btn btn-outline-secondary btn-sm" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
              </button>
            </form>
          </div>
    </div>
    <router-link to="/addProduct">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> +
        </button>
    </router-link>
    <div class="radioContainer d-flex align-items-center">
		<button @click="radioStreaming" class="d-flex "> 
			<svg v-show="!isRadioPlaying" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
			  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
			</svg>
			<svg v-show="isRadioPlaying" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
			  <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
			</svg>
		</button>
		<div class="d-flex align-items-center mx-1 volume-slider">
			<input v-model="volume" type="range" class="form-range mx-1"  min="0" :max="maxVol">
			<span v-ref="volume-slider" id="volume-icon"  class="cursor-pointer pe-auto fs-4 me-2">&#128266; </span>		
		</div>
    </div>
</div>